<header>
  <div  class="logo" tabindex="0" aria-label="Rovyn Ticket Booking"><a href="/main"> Rovyn </a></div>
  <nav aria-label="Primary navigation">
    <a href="/main" tabindex="0">Home</a>
    <a href="/tickets" tabindex="0">My Bookings</a>
    <a href="/main/about" tabindex="0">About</a>
    <a href="/register" tabindex="0">Register</a>
    <a href="/login" tabindex="0">Logout</a>
  </nav>
</header>